<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Info">
    <Appenders>
        <File name="MoscowMetro" fileName="logs/MoscowMetro.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="UserConsole" target="SYSTEM_OUT">
            <PatternLayout pattern=" %msg%n" />
            <Filters>
                <LevelMatchFilter  level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="MoscowMetro" level="DEBUG"/>
            <AppenderRef ref="UserConsole"/>
        </Root>
    </Loggers>
</Configuration>